<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>Type a poem!</title>   
    <script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>     
    <script src ="Typingtest.js"></script>
    <link rel="stylesheet" href ="style.css">
</head>
<body>
    <div class ="wrapper">
        <input type="text" class="input-field">
        <div class="content-box">
            <h1>Retype thy poem!</h2>
            <div class ="typing-text">
                <p>
                    ///////////////////////////
                    <div th:id="generated-poem" th:text = "${generatedPoem.sentence}" ></div>
                </p>
            </div>
            <div class="content">
                <ul class = "result-details">
                    <li class = "time">
                        <p> Time left </p>
                        <span><b>60</b>s</span>
                    </li>
                    <li class ="mistake">
                        <p>Mistakes</p>
                        <span>0</span>
                    </li>
                    <li class ="wpm">
                        <p>Words /min</p>
                        <span>0</span>
                    </li>
                    <li class ="cpm">
                        <p>Characters /min</p>
                        <span>0</span>
                    </li>
                </ul>
                <button class = "reset">Try Again</button>
            </div>
        </div>
        <a th:href ="@{/scoreboard}" action="/scoreboard" class="score">Check rankings</a>
    </div>
</body>
</html>