<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scoreboard</title>
</head>
<body>
    <table>
        <thead>
            <tr>
            <th>Username</th>
            <th>WPM</th>
            <th>CPM</th></tr>
        </thead>
        <tbody>
            <tr th:each="temp : ${}">
                <td th:text="${temp.name}"/>
                <td th:text="${temp.wpm}"/>
                <td th:text="${temp.cpm}"/>

            </tr>
        </tbody>
    </table>
</body>
</html>